/* Reset some default styles */
body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #00171f; /* Dark blue background color inspired by Sixt */
  color: #ffffff; /* Text color */
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  font-size: 24px;
  color: #ff4500; /* Blue heading color inspired by Sixt */
  text-transform: uppercase;
}

main {
  background-color: #003340; /* Slightly darker blue for main content */
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Slightly more pronounced box shadow */
}

form {
  max-width: 600px;
  margin: 0 auto;
}

label {
  display: block;
  font-weight: bold;
  margin-top: 10px;
  color: #ffffff; /* Label text color */
  padding: 0px 0px 10px 10px;
}

input[type="text"],
input[type="date"],
input[type="number"],
input[type="email"],
input[type="file"],
button,
.radio-container {
  margin-bottom: 15px;
  background-color: #1e1e1e; /* Dark gray background color */
  color: #ffffff; /* Input text color */
  border: none;
  padding: 10px 0px 10px 0px;
  border-radius: 5px;
  width: 100%; /* Make all input fields the same width */
  max-width: none; /* Remove the max-width property */
}

button {
  background-color: #ff4500; /* Red button color inspired by Sixt */
  color: #ffffff; /* Button text color */
  cursor: pointer;
}

button:hover {
  background-color: #ff3300; /* Slightly darker red on hover */
}

#reportList {
  margin-top: 20px;
}

.radio-container {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #ffffff; /* Radio button label text color */
}

/* Style the radio buttons */
input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  margin: 0;
  cursor: pointer;
  background-color: #1e1e1e; /* Dark gray radio button background color */
}

input[type="radio"]:checked {
  background-color: #ff4500; /* Checked radio button background color */
  border: 1px solid #ff4500; /* Checked radio button border color */
}

/* Style radio button labels */
input[type="radio"] + label {
  cursor: pointer;
  font-weight: normal;
}

/* Add this style for scratch images */
input[type="file"][capture="environment"] {
  background-color: #1e1e1e; /* Dark gray background color */
  color: #ffffff; /* Input text color */
  border: none;
  padding: 10px 0px 10px 0px;
  border-radius: 5px;
}

/* Add this style for the image container */
#imageContainer {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

#imageContainer img {
  max-width: 100%;
  border-radius: 5px;
}

.submit-button {
  width: auto;
  display: block;
  margin: 0 auto; /* Center the button horizontally */
}

/* Add this CSS for styling the Driver's Information section */
.driver-info {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
}

.driver-info h2 {
  font-size: 18px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

/* Add this CSS rule for styling the telephone field */
.driver-info input[type="tel"] {
  margin-bottom: 15px;
  background-color: #1e1e1e; /* Dark gray background color */
  color: #ffffff; /* Input text color */
  border: none;
  padding: 10px 0px 10px 0px;
  border-radius: 5px;
  width: 100%;
}

/* Add this CSS rule to place driver's license fields in one line */
.driver-info .date-inputs:nth-child(3) {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.driver-info .date-inputs:nth-child(3) label,
.driver-info .date-inputs:nth-child(3) input[type="text"],
.driver-info .date-inputs:nth-child(3) input[type="date"] {
  flex: 1;
}

/* Add this CSS rule to place passport fields in one line */
.driver-info .date-inputs:nth-child(4) {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.driver-info .date-inputs:nth-child(4) label,
.driver-info .date-inputs:nth-child(4) input[type="text"],
.driver-info .date-inputs:nth-child(4) input[type="date"] {
  flex: 1;
}
